<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>platform-application</key>
    <true/>
    <key>com.apple.private.security.no-sandbox</key>
    <true/>
    <key>com.apple.private.security.container-required</key>
    <false/>
    <key>com.apple.backboardd.launchapplications</key>
    <true/>
    <key>com.apple.backboard.client</key>
    <true/>
    <key>com.apple.springboard.launchapplications</key>
    <true/>
	<key>com.apple.private.hid.client</key>
	<true/>
	<key>com.apple.QuartzCore.global-capture</key>
	<true/>
	<key>com.apple.QuartzCore.secure-capture</key>
	<true/>
	<key>com.apple.QuartzCore.displayable-context</key>
	<true/>
	<key>com.apple.QuartzCore.cache-asynchronous</key>
	<true/>
	<key>com.apple.private.IOSurface.protected-access</key>
	<true/>
	<key>com.apple.private.accessibility.inspection</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAll</string>
		<string>kTCCServiceAccessibility</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>IOSurfaceRootUserClient</string>
		<string>IOMobileFramebufferUserClient</string>
		<string>IOSurfaceAcceleratorClient</string>
		<string>IOHIDEventServiceFastPathUserClient</string>
		<string>IOHIDLibUserClient</string>
		<string>RootDomainUserClient</string>
	</array>
	<key>com.apple.private.accessibility.AXPreferenceOverride</key>
	<true/>
	<key>get-task-allow</key>
	<true/>
</dict>
</plist>
