<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DataProtectionClass</key>
	<string>NSFileProtectionComplete</string>
	<key>MTLCaptureManager</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._udp</string>
		<string>_http._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Reason for using Bonjour that the user can understand</string>
	<key>abs-client</key>
	<string>143531244</string>
	<key>adi-client</key>
	<string>166430402</string>
	<key>allow-obliterate-device</key>
	<true/>
	<key>application-identifier</key>
	<string>com.matisu.auto</string>
	<key>aps-connection-initiate</key>
	<true/>
	<key>auth-key-vault-client</key>
	<string>2093460704</string>
	<key>backupd-connection-initiate</key>
	<true/>
	<key>checklessPersistentURLTranslation</key>
	<true/>
	<key>com.apple.BTServer.allowRestrictedServices</key>
	<true/>
	<key>com.apple.BTServer.le</key>
	<true/>
	<key>com.apple.BTServer.programmaticPairing</key>
	<true/>
	<key>com.apple.BTServer.supportsPairing</key>
	<true/>
	<key>com.apple.CallHistory.sync.allow</key>
	<true/>
	<key>com.apple.CallKit.call-directory</key>
	<array>
		<string>modify-any-extension</string>
		<string>query-extension-priorities</string>
		<string>modify-extension-priorities</string>
	</array>
	<key>com.apple.CallKit.call-directory.extension-host</key>
	<true/>
	<key>com.apple.CommCenter.Preferences-delete</key>
	<true/>
	<key>com.apple.CommCenter.Preferences-write-access</key>
	<true/>
	<key>com.apple.CommCenter.fine-grained</key>
	<array>
		<string>cellular-plan</string>
		<string>spi</string>
		<string>identity</string>
		<string>data-usage</string>
		<string>phone</string>
		<string>data-allowed-write</string>
		<string>carrier-settings</string>
		<string>preferences-write</string>
		<string>preferences-reset</string>
	</array>
	<key>com.apple.Contacts.database-allow</key>
	<true/>
	<key>com.apple.CoreRoutine.Application</key>
	<true/>
	<key>com.apple.CoreRoutine.LocationOfInterest</key>
	<true/>
	<key>com.apple.CoreRoutine.preferences</key>
	<true/>
	<key>com.apple.CoreTelephony.CommCenterHelper.allow</key>
	<true/>
	<key>com.apple.CoreTelephony.DataUsageInfo.allow</key>
	<true/>
	<key>com.apple.MobileInternetSharing.allow</key>
	<true/>
	<key>com.apple.NPKCompanionAgent.client</key>
	<true/>
	<key>com.apple.Pasteboard.background-access</key>
	<true/>
	<key>com.apple.Pasteboard.originating-bundle-id-query</key>
	<true/>
	<key>com.apple.Pasteboard.paste-unchecked</key>
	<true/>
	<key>com.apple.Pasteboard.trigger-janitor</key>
	<true/>
	<key>com.apple.QuartzCore.cache-asynchronous</key>
	<true/>
	<key>com.apple.QuartzCore.displayable-context</key>
	<true/>
	<key>com.apple.QuartzCore.global-capture</key>
	<true/>
	<key>com.apple.QuartzCore.secure-capture</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCDynamicStore-write-access</key>
	<true/>
	<key>com.apple.SystemConfiguration.SCPreferences-write-access</key>
	<array>
		<string>preferences.plist</string>
		<string>com.apple.AutoWake.xml</string>
		<string>com.apple.radios.plist</string>
		<string>com.apple.virtualMemoryMode.plist</string>
		<string>OSThermalStatus.plist</string>
		<string>com.apple.jetsam.plist</string>
		<string>com.apple.facebook.plist</string>
		<string>com.apple.WebSheet.plist</string>
	</array>
	<key>com.apple.UIKit.status-bar-override-allow</key>
	<true/>
	<key>com.apple.VideoSubscriberAccount.DeveloperService</key>
	<true/>
	<key>com.apple.accounts.appleaccount.fullaccess</key>
	<true/>
	<key>com.apple.accounts.appleidauthentication.defaultaccess</key>
	<true/>
	<key>com.apple.aosnotification.aosnotifyd-access</key>
	<true/>
	<key>com.apple.appstored.xpc.updates</key>
	<true/>
	<key>com.apple.asd.allow</key>
	<true/>
	<key>com.apple.asd.client</key>
	<string>3298700202</string>
	<key>com.apple.asl.access_as_root</key>
	<true/>
	<key>com.apple.assistant.client</key>
	<true/>
	<key>com.apple.assistant.dictation.prerecorded</key>
	<true/>
	<key>com.apple.assistant.settings</key>
	<true/>
	<key>com.apple.authkit.client.internal</key>
	<true/>
	<key>com.apple.authkit.client.private</key>
	<true/>
	<key>com.apple.authkit.writer.internal</key>
	<true/>
	<key>com.apple.avfoundation.allow-still-image-capture-shutter-sound-manipulation</key>
	<true/>
	<key>com.apple.awdd.manager-access</key>
	<true/>
	<key>com.apple.backboard.client</key>
	<true/>
	<key>com.apple.backboard.displaybrightness</key>
	<true/>
	<key>com.apple.backboardd.cancelsTouchesInHostedContent</key>
	<true/>
	<key>com.apple.backboardd.hostCanRequireTouchesFromHostedContent</key>
	<true/>
	<key>com.apple.backboardd.lastUserEventTime</key>
	<true/>
	<key>com.apple.backboardd.launchapplications</key>
	<true/>
	<key>com.apple.bulletinboard</key>
	<true/>
	<key>com.apple.bulletinboard.dataprovider</key>
	<true/>
	<key>com.apple.bulletinboard.observer</key>
	<true/>
	<key>com.apple.bulletinboard.serverconduit</key>
	<true/>
	<key>com.apple.bulletinboard.settings</key>
	<true/>
	<key>com.apple.bulletinboard.systemstate</key>
	<true/>
	<key>com.apple.bulletinboard.utilities</key>
	<true/>
	<key>com.apple.cards.all-access</key>
	<true/>
	<key>com.apple.ci</key>
	<true/>
	<key>com.apple.companionappd.connect.allow</key>
	<true/>
	<key>com.apple.coreaudio.CanRecordPastData</key>
	<true/>
	<key>com.apple.coreaudio.allow-amr-decode</key>
	<true/>
	<key>com.apple.coreaudio.allow-speex-codec</key>
	<true/>
	<key>com.apple.coreaudio.register-internal-aus</key>
	<true/>
	<key>com.apple.corecapture.manager-access</key>
	<true/>
	<key>com.apple.coreduetd.allow</key>
	<true/>
	<key>com.apple.coreduetd.batterysaver.allow</key>
	<true/>
	<key>com.apple.coremedia.allow-pre-wiring-pixel-buffers</key>
	<true/>
	<key>com.apple.coremedia.allow-protected-content-playback</key>
	<true/>
	<key>com.apple.coremedia.virtualdisplaysession</key>
	<true/>
	<key>com.apple.coretelephony.CTCarrierSettings.allow</key>
	<true/>
	<key>com.apple.coretelephony.Calls.allow</key>
	<true/>
	<key>com.apple.coretelephony.Identity.get</key>
	<true/>
	<key>com.apple.developer.bluetooth.allow-prompting</key>
	<true/>
	<key>com.apple.developer.extension-host.photo-editing</key>
	<true/>
	<key>com.apple.developer.extension-host.widget-extension</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.homekit</key>
	<true/>
	<key>com.apple.developer.icloud-container-environment</key>
	<string>Production</string>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>com.apple.TextInput</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudDocuments</string>
		<string>CloudKit</string>
	</array>
	<key>com.apple.developer.networking.HotspotHelper</key>
	<true/>
	<key>com.apple.developer.networking.vpn.api</key>
	<array>
		<string>allow-vpn</string>
	</array>
	<key>com.apple.developer.networking.wifi-info</key>
	<true/>
	<key>com.apple.developer.pass-type-identifiers</key>
	<array>
		<string>*.pass.com.apple.itunes.storecredit</string>
	</array>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>com.apple.springboard</string>
	<key>com.apple.duet.expertcenter.consumer</key>
	<true/>
	<key>com.apple.excludes-extensions</key>
	<true/>
	<key>com.apple.filesystem-metadata-snapshotting</key>
	<true/>
	<key>com.apple.frontboard.app-badge-value-access</key>
	<true/>
	<key>com.apple.frontboard.delete-application-snapshots</key>
	<true/>
	<key>com.apple.frontboard.launchapplications</key>
	<true/>
	<key>com.apple.frontboard.shutdown</key>
	<true/>
	<key>com.apple.frontboard.systemappservices</key>
	<true/>
	<key>com.apple.frontboard.visibility</key>
	<true/>
	<key>com.apple.frontboard.workspace-service</key>
	<true/>
	<key>com.apple.geoservices.setanydefault</key>
	<true/>
	<key>com.apple.homekit.private-spi-access</key>
	<true/>
	<key>com.apple.iapd.accessibility</key>
	<true/>
	<key>com.apple.icloud.findmydeviced.access</key>
	<true/>
	<key>com.apple.icloud.fmfd.access</key>
	<true/>
	<key>com.apple.imagent</key>
	<true/>
	<key>com.apple.imagent.av</key>
	<true/>
	<key>com.apple.imagent.chat</key>
	<true/>
	<key>com.apple.intents.extension.discovery</key>
	<true/>
	<key>com.apple.ios.StoreKit.store-page</key>
	<true/>
	<key>com.apple.itunesstored.private</key>
	<true/>
	<key>com.apple.keyboardservices.textreplacement.allow</key>
	<true/>
	<key>com.apple.keystore.auth-token</key>
	<true/>
	<key>com.apple.keystore.device</key>
	<true/>
	<key>com.apple.keystore.lockassertion</key>
	<true/>
	<key>com.apple.keystore.stash.access</key>
	<true/>
	<key>com.apple.launchservices.clearadvertisingid</key>
	<true/>
	<key>com.apple.locationd.activity</key>
	<true/>
	<key>com.apple.locationd.authorizeapplications</key>
	<true/>
	<key>com.apple.locationd.defaults_access</key>
	<true/>
	<key>com.apple.locationd.effective_bundle</key>
	<true/>
	<key>com.apple.locationd.prompt_behavior</key>
	<true/>
	<key>com.apple.locationd.region_proxy_service</key>
	<true/>
	<key>com.apple.locationd.status</key>
	<true/>
	<key>com.apple.locationd.usage_oracle</key>
	<true/>
	<key>com.apple.locationd.vehicle_data</key>
	<true/>
	<key>com.apple.logd.admin</key>
	<true/>
	<key>com.apple.lsapplicationproxy.deviceidentifierforvendor</key>
	<true/>
	<key>com.apple.lsapplicationworkspace.rebuildappdatabases</key>
	<true/>
	<key>com.apple.managedconfiguration.mdmd-access</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled-access</key>
	<true/>
	<key>com.apple.maps.model-access</key>
	<true/>
	<key>com.apple.matd.client</key>
	<true/>
	<key>com.apple.mediaanalysisd.client</key>
	<true/>
	<key>com.apple.mediastream.mstreamd-access</key>
	<true/>
	<key>com.apple.messages.composeclient</key>
	<true/>
	<key>com.apple.mkb.usersession.info</key>
	<true/>
	<key>com.apple.mkb.usersession.loginwindow</key>
	<true/>
	<key>com.apple.mobile.deleted.AllowFreeSpace</key>
	<true/>
	<key>com.apple.mobile.keybagd.UserManager.logoutcritical</key>
	<true/>
	<key>com.apple.mobilemail.mailservices</key>
	<true/>
	<key>com.apple.multitasking.systemappassertions</key>
	<true/>
	<key>com.apple.multitasking.termination</key>
	<true/>
	<key>com.apple.nanobackup</key>
	<true/>
	<key>com.apple.nanosystemsettings</key>
	<array>
		<string>icloud</string>
	</array>
	<key>com.apple.networkd.modify_settings</key>
	<true/>
	<key>com.apple.networkd.set_account_identifier</key>
	<true/>
	<key>com.apple.nfcd.hwmanager</key>
	<true/>
	<key>com.apple.nfcd.seshat</key>
	<true/>
	<key>com.apple.notificationcenter.widgetcontrollerhascontent</key>
	<true/>
	<key>com.apple.nvram.boot-args-set-allow</key>
	<true/>
	<key>com.apple.passes.add-silently</key>
	<true/>
	<key>com.apple.payment.all-access</key>
	<true/>
	<key>com.apple.payment.configuration</key>
	<true/>
	<key>com.apple.payment.presentation</key>
	<true/>
	<key>com.apple.photos.bourgeoisie</key>
	<true/>
	<key>com.apple.private.CallHistory.read</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.IOSurface.protected-access</key>
	<true/>
	<key>com.apple.private.LocalAuthentication.CallerName</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.allowed</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdLookup</key>
	<true/>
	<key>com.apple.private.MobileContainerManager.otherIdentifierLookup</key>
	<true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key>
	<true/>
	<key>com.apple.private.MobileInstallationHelperService.InstallDaemonOpsEnabled</key>
	<true/>
	<key>com.apple.private.MobileInstallationHelperService.allowed</key>
	<true/>
	<key>com.apple.private.Photos.CPLDiagnose</key>
	<true/>
	<key>com.apple.private.accessibility.AXPreferenceOverride</key>
	<true/>
	<key>com.apple.private.accessibility.inspection</key>
	<true/>
	<key>com.apple.private.accounts.allaccounts</key>
	<true/>
	<key>com.apple.private.accounts.bundleidspoofing</key>
	<true/>
	<key>com.apple.private.accounts.bypassguestmoderestrictions</key>
	<true/>
	<key>com.apple.private.allow-explicit-graphics-priority</key>
	<true/>
	<key>com.apple.private.allow-external-storage</key>
	<true/>
	<key>com.apple.private.appleaccount.app-hidden-from-icloud-settings</key>
	<true/>
	<key>com.apple.private.assets.accessible-asset-types</key>
	<array>
		<string>com.apple.MobileAsset.AirPortUtility.devices</string>
	</array>
	<key>com.apple.private.assets.change-daemon-config</key>
	<true/>
	<key>com.apple.private.assetsd.nebulad.access</key>
	<string>photos</string>
	<key>com.apple.private.bmk.allow</key>
	<true/>
	<key>com.apple.private.can-load-any-content-blocker</key>
	<true/>
	<key>com.apple.private.canGetAppLinkInfo</key>
	<true/>
	<key>com.apple.private.canModifyAppLinkPermissions</key>
	<true/>
	<key>com.apple.private.carkit</key>
	<true/>
	<key>com.apple.private.carkit.app</key>
	<true/>
	<key>com.apple.private.clouddocs.can-grant-access-to-document</key>
	<true/>
	<key>com.apple.private.cloudkit.displaysSystemAcceptPrompt</key>
	<true/>
	<key>com.apple.private.cloudkit.masquerade</key>
	<true/>
	<key>com.apple.private.cloudkit.protectiondata</key>
	<true/>
	<key>com.apple.private.cloudkit.setEnvironment</key>
	<true/>
	<key>com.apple.private.cloudkit.spi</key>
	<array>
		<string>statusGroupsForApplicationPermission:completionHandler:</string>
		<string>setApplicationPermission:enabled:completionHandler:</string>
	</array>
	<key>com.apple.private.cloudkit.systemService</key>
	<true/>
	<key>com.apple.private.cloudphotod.access</key>
	<string>preferences</string>
	<key>com.apple.private.communicationsfilter</key>
	<true/>
	<key>com.apple.private.corerecents</key>
	<true/>
	<key>com.apple.private.coreservices.canmaplsdatabase</key>
	<true/>
	<key>com.apple.private.coreservices.canopenactivity</key>
	<true/>
	<key>com.apple.private.coreservices.lsuseractivityd.bestappsuggestion</key>
	<true/>
	<key>com.apple.private.corespotlight.search.internal</key>
	<true/>
	<key>com.apple.private.domain-extension</key>
	<true/>
	<key>com.apple.private.externalaccessory.showallaccessories</key>
	<true/>
	<key>com.apple.private.game-center</key>
	<array>
		<string>Account</string>
		<string>Authenticate</string>
		<string>Profile</string>
		<string>Games</string>
	</array>
	<key>com.apple.private.game-center.bypass-authentication</key>
	<true/>
	<key>com.apple.private.healthkit</key>
	<true/>
	<key>com.apple.private.healthkit.authorization_manager</key>
	<true/>
	<key>com.apple.private.healthkit.medicaliddata</key>
	<true/>
	<key>com.apple.private.healthkit.obliteration</key>
	<true/>
	<key>com.apple.private.healthkit.read_authorization_override</key>
	<array>
		<string>HKCategoryTypeIdentifierSleepAnalysis</string>
	</array>
	<key>com.apple.private.healthkit.source_override</key>
	<string>com.apple.mobiletimer</string>
	<key>com.apple.private.healthkit.write_authorization_override</key>
	<array>
		<string>HKCategoryTypeIdentifierSleepAnalysis</string>
	</array>
	<key>com.apple.private.hid.client</key>
	<true/>
	<key>com.apple.private.hid.client.event-dispatch</key>
	<true/>
	<key>com.apple.private.hid.client.event-filter</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.hid.client.service-protected</key>
	<true/>
	<key>com.apple.private.hid.manager.client</key>
	<true/>
	<key>com.apple.private.hsa-authentication-processing</key>
	<true/>
	<key>com.apple.private.iad.open-privacy-view-controller</key>
	<true/>
	<key>com.apple.private.iad.opt-in-control</key>
	<true/>
	<key>com.apple.private.icfcallserver</key>
	<true/>
	<key>com.apple.private.ids.idsquery</key>
	<true/>
	<key>com.apple.private.ids.messaging</key>
	<array>
		<string>com.apple.private.alloy.sms</string>
	</array>
	<key>com.apple.private.ids.messaging.urgent-priority</key>
	<array>
		<string>com.apple.private.alloy.bulletinboard</string>
		<string>com.apple.private.alloy.siri.phrasespotter</string>
	</array>
	<key>com.apple.private.ids.registration-control</key>
	<true/>
	<key>com.apple.private.ids.registration-reset</key>
	<true/>
	<key>com.apple.private.imavcore.imavagent</key>
	<true/>
	<key>com.apple.private.imcore.imdpersistence.database-access</key>
	<true/>
	<key>com.apple.private.imcore.imremoteurlconnection</key>
	<true/>
	<key>com.apple.private.imcore.spi.database-access</key>
	<true/>
	<key>com.apple.private.in-app-payments</key>
	<true/>
	<key>com.apple.private.ind.client</key>
	<true/>
	<key>com.apple.private.kernel.darkboot</key>
	<true/>
	<key>com.apple.private.kernel.jetsam</key>
	<true/>
	<key>com.apple.private.librarian.can-get-application-info</key>
	<true/>
	<key>com.apple.private.librarian.container-proxy</key>
	<true/>
	<key>com.apple.private.lockdown.finegrained-get</key>
	<array>
		<string>NULL/ActivationPrivateKey</string>
		<string>NULL/ActivationState</string>
		<string>NULL/BrickState</string>
		<string>NULL/SBLockdownEverRegisteredKey</string>
		<string>NULL/DevicePrivateKey</string>
		<string>NULL/DeviceCertificate</string>
		<string>NULL/RegulatoryImages</string>
		<string>NULL/UnassociatedCarrier</string>
		<string>com.apple.mobile.data_sync/Sources</string>
		<string>com.apple.mobile.data_sync/AccountNames</string>
		<string>com.apple.mobile.data_sync/NULL</string>
		<string>com.apple.mobile.data_sync/Contacts</string>
		<string>com.apple.mobile.data_sync/Calendars</string>
		<string>com.apple.mobile.data_sync/Bookmarks</string>
		<string>com.apple.mobile.data_sync/Notes</string>
		<string>com.apple.mobile.data_sync/Mail Accounts</string>
		<string>com.apple.mobile.tethered_sync/Contacts</string>
		<string>com.apple.mobile.tethered_sync/Calendars</string>
		<string>com.apple.mobile.tethered_sync/Bookmarks</string>
		<string>com.apple.mobile.tethered_sync/Notes</string>
		<string>com.apple.mobile.tethered_sync/Mail Accounts</string>
		<string>com.apple.powerlog/SubmitPowerlogs</string>
		<string>com.apple.xcode.developerdomain/DeveloperStatus</string>
		<string>NULL/BuildExpireTime</string>
	</array>
	<key>com.apple.private.lockdown.finegrained-remove</key>
	<array>
		<string>com.apple.mobile.iTunes.store/AppleID</string>
		<string>com.apple.mobile.data_sync/Contacts</string>
		<string>com.apple.mobile.data_sync/Calendars</string>
		<string>com.apple.mobile.data_sync/Bookmarks</string>
		<string>com.apple.mobile.data_sync/Mail Accounts</string>
	</array>
	<key>com.apple.private.lockdown.finegrained-set</key>
	<array>
		<string>NULL/DeviceName</string>
		<string>com.apple.mobile.data_sync/Sources</string>
		<string>com.apple.mobile.data_sync/AccountNames</string>
		<string>com.apple.mobile.data_sync/NULL</string>
		<string>com.apple.mobile.data_sync/Contacts</string>
		<string>com.apple.mobile.data_sync/Calendars</string>
		<string>com.apple.mobile.data_sync/Bookmarks</string>
		<string>com.apple.mobile.data_sync/Notes</string>
		<string>com.apple.mobile.data_sync/Mail Accounts</string>
		<string>com.apple.mobile.tethered_sync/Contacts</string>
		<string>com.apple.mobile.tethered_sync/Calendars</string>
		<string>com.apple.mobile.tethered_sync/Bookmarks</string>
		<string>com.apple.mobile.tethered_sync/Notes</string>
		<string>com.apple.mobile.tethered_sync/Mail Accounts</string>
		<string>com.apple.mobile.user_preferences/UserSetLanguage</string>
		<string>com.apple.mobile.user_preferences/UserSetLocale</string>
	</array>
	<key>com.apple.private.lockdown.reset-pairing</key>
	<true/>
	<key>com.apple.private.memorystatus</key>
	<true/>
	<key>com.apple.private.mis.online_auth_agent</key>
	<true/>
	<key>com.apple.private.mis.trust.set</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string></string>
		<string>InstallForLaunchServices</string>
		<string>RemoveArchive</string>
		<string>Archive</string>
		<string>Browse</string>
		<string>Install</string>
		<string>Lookup</string>
		<string>Uninstall</string>
		<string>UninstallForLaunchServices</string>
		<string>CopyDiskUsageForLaunchServices</string>
		<string>SetCapabilities</string>
	</array>
	<key>com.apple.private.mobilesafari.searchengine</key>
	<true/>
	<key>com.apple.private.network.socket-delegate</key>
	<true/>
	<key>com.apple.private.networkextension.configuration</key>
	<string>super</string>
	<key>com.apple.private.nlcd-control</key>
	<true/>
	<key>com.apple.private.persona-mgmt</key>
	<true/>
	<key>com.apple.private.persona.read</key>
	<true/>
	<key>com.apple.private.persona.write</key>
	<true/>
	<key>com.apple.private.photoanalysisd.access</key>
	<true/>
	<key>com.apple.private.photos.allowmemorymutation</key>
	<true/>
	<key>com.apple.private.powersource-read</key>
	<true/>
	<key>com.apple.private.powersource-write</key>
	<true/>
	<key>com.apple.private.safari.cloudtabs</key>
	<true/>
	<key>com.apple.private.safari.offlinereadinglist</key>
	<true/>
	<key>com.apple.private.security.container-manager</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<false/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.security.storage-exempt.heritable</key>
	<true/>
	<key>com.apple.private.security.storage.AppBundles</key>
	<true/>
	<key>com.apple.private.security.storage.AppDataContainers</key>
	<true/>
	<key>com.apple.private.security.storage.MobileDocuments</key>
	<true/>
	<key>com.apple.private.sharing.unlock-manager</key>
	<true/>
	<key>com.apple.private.social.facebook.token</key>
	<true/>
	<key>com.apple.private.subscriptionservice.internal</key>
	<true/>
	<key>com.apple.private.suggestions</key>
	<true/>
	<key>com.apple.private.system-keychain</key>
	<true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAll</string>
		<string>kTCCServiceAccessibility</string>
	</array>
	<key>com.apple.private.tcc.manager</key>
	<true/>
	<key>com.apple.private.thread-get-state</key>
	<true/>
	<key>com.apple.private.thread-set-state</key>
	<true/>
	<key>com.apple.private.timezoneupdates.tzd.access</key>
	<true/>
	<key>com.apple.private.trust-defaults-kvstore-identifier</key>
	<true/>
	<key>com.apple.private.tty.settings</key>
	<true/>
	<key>com.apple.private.ubiquity-kvstore-access</key>
	<array>
		<string>com.apple.springboard</string>
		<string>com.apple.backboardd</string>
		<string>com.apple.Accessibility</string>
		<string>com.apple.Accessibility.SwitchControl</string>
		<string>com.apple.Accessibility.TouchAccommodations</string>
		<string>com.apple.AssistiveTouch</string>
		<string>com.apple.HearingAids</string>
		<string>com.apple.SpeakSelection</string>
		<string>com.apple.VoiceOverTouch</string>
		<string>com.apple.ZoomTouch</string>
	</array>
	<key>com.apple.private.uninstall.deletion</key>
	<true/>
	<key>com.apple.private.webbookmarks.settings</key>
	<true/>
	<key>com.apple.remotenotification.access</key>
	<true/>
	<key>com.apple.remotenotification.preferences</key>
	<true/>
	<key>com.apple.runningboard.process-state</key>
	<true/>
	<key>com.apple.securebackupd.access</key>
	<true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.apple.weather</string>
	</array>
	<key>com.apple.security.exception.files.absolute-path.read-write</key>
	<array>
		<string>/</string>
	</array>
	<key>com.apple.security.exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Media/PhotoData/</string>
	</array>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.telephonyutilities.callservicesdaemon.callstatecontroller</string>
		<string>com.apple.incoming-call-filter-server</string>
		<string>com.apple.CallHistorySyncHelper</string>
		<string>com.apple.suggestd.contacts</string>
	</array>
	<key>com.apple.security.exception.shared-preference.read-write</key>
	<array>
		<string>com.apple.InCallService</string>
	</array>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>IOSurfaceRootUserClient</string>
		<string>IOMobileFramebufferUserClient</string>
		<string>IOSurfaceAcceleratorClient</string>
		<string>IOHIDEventServiceFastPathUserClient</string>
		<string>IOHIDLibUserClient</string>
		<string>RootDomainUserClient</string>
	</array>
	<key>com.apple.security.iokit-user-client-class12</key>
	<array>
		<string>IOSurfaceRootUserClient</string>
		<string>IOSurfaceAcceleratorClient</string>
	</array>
	<key>com.apple.security.system-container</key>
	<true/>
	<key>com.apple.security.system-groups</key>
	<array>
		<string>systemgroup.com.apple.osanalytics</string>
		<string>systemgroup.com.apple.regulatory_images</string>
		<string>systemgroup.com.apple.powerlog</string>
		<string>systemgroup.com.apple.media.books.managed</string>
		<string>systemgroup.com.apple.VideoSubscriberAccount</string>
		<string></string>
	</array>
	<key>com.apple.seld.tsmmanager</key>
	<true/>
	<key>com.apple.sh</key>
	<true/>
	<key>com.apple.sharing.BluetoothUserInteraction</key>
	<true/>
	<key>com.apple.sharing.CoordinatedAlerts</key>
	<true/>
	<key>com.apple.siri.synapse</key>
	<true/>
	<key>com.apple.sos.contacts</key>
	<true/>
	<key>com.apple.sos.trigger</key>
	<true/>
	<key>com.apple.springboard.CFUserNotification</key>
	<true/>
	<key>com.apple.springboard.accessibility-window-hosting</key>
	<true/>
	<key>com.apple.springboard.activateRemoteAlert</key>
	<true/>
	<key>com.apple.springboard.activateawayviewplugins</key>
	<true/>
	<key>com.apple.springboard.allowallcallurls</key>
	<true/>
	<key>com.apple.springboard.appbackgroundstyle</key>
	<true/>
	<key>com.apple.springboard.debugapplications</key>
	<true/>
	<key>com.apple.springboard.frontmostApplication.bundleID</key>
	<true/>
	<key>com.apple.springboard.hardware-button-service.event-consumption</key>
	<true/>
	<key>com.apple.springboard.launchapplications</key>
	<true/>
	<key>com.apple.springboard.opensensitiveurl</key>
	<true/>
	<key>com.apple.springboard.openurlinbackground</key>
	<true/>
	<key>com.apple.springboard.openurlswhenlocked</key>
	<true/>
	<key>com.apple.springboard.setCarPlayIconOrder</key>
	<true/>
	<key>com.apple.springboard.setbadgestring</key>
	<true/>
	<key>com.apple.springboard.shortcutitems.fullaccess</key>
	<true/>
	<key>com.apple.springboard.statusbarstyleoverrides</key>
	<true/>
	<key>com.apple.springboard.wipedevice</key>
	<true/>
	<key>com.apple.studentd-access</key>
	<true/>
	<key>com.apple.symptom_analytics.query</key>
	<true/>
	<key>com.apple.symptom_analytics.refresh</key>
	<true/>
	<key>com.apple.symptoms.NetworkOfInterest</key>
	<true/>
	<key>com.apple.system-task-ports</key>
	<true/>
	<key>com.apple.system-task-ports.control</key>
	<true/>
	<key>com.apple.tailspin.config-apply</key>
	<true/>
	<key>com.apple.telephony.cupolicy-rw-access</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<array>
		<string>access-call-capabilities</string>
		<string>modify-call-capabilities</string>
		<string>access-calls</string>
		<string>modify-calls</string>
		<string>access-call-providers</string>
		<string>modify-call-providers</string>
	</array>
	<key>com.apple.timed</key>
	<true/>
	<key>com.apple.tzlink.allow</key>
	<true/>
	<key>com.apple.usernotification.notificationschedulerproxy</key>
	<true/>
	<key>com.apple.videoconference.allow-conferencing</key>
	<true/>
	<key>com.apple.visualvoicemail.client</key>
	<true/>
	<key>com.apple.voiceservices.tts.customvoice</key>
	<true/>
	<key>com.apple.voicetrigger.voicetriggerservice</key>
	<true/>
	<key>com.apple.wifi.manager-access</key>
	<true/>
	<key>com.apple.wlan.authentication</key>
	<true/>
	<key>fairplay-client</key>
	<string>505792035</string>
	<key>file-read-data</key>
	<true/>
	<key>get-task-allow</key>
	<true/>
	<key>keychain-access-groups</key>
	<array>
		<string>apple</string>
		<string>com.apple.certificates</string>
		<string>com.apple.identities</string>
		<string>appleaccount</string>
		<string>com.apple.mobilemail.smime</string>
		<string>com.apple.preferences</string>
		<string>com.apple.cfnetwork</string>
		<string>com.apple.safari.credit-cards</string>
		<string>com.apple.hap.pairing</string>
		<string>com.apple.PassbookUIService</string>
		<string>com.apple.ProtectedCloudStorage</string>
		<string>com.apple.PublicCloudStorage</string>
		<string>com.apple.VideoSubscriberAccount</string>
		<string>com.apple.youtube.credentials</string>
		<string>com.apple.videouploadplugins.credentials</string>
		<string>com.apple.airplay</string>
	</array>
	<key>keychain-cloud-circle</key>
	<true/>
	<key>modify-anchor-certificates</key>
	<true/>
	<key>platform-application</key>
	<true/>
	<key>proc_info-allow</key>
	<true/>
	<key>run-unsigned-code</key>
	<true/>
	<key>task_for_pid-allow</key>
	<true/>
	<key>user-preference-read</key>
	<true/>
	<key>user-preference-write</key>
	<true/>
	<key>vm-pressure-level</key>
	<true/>
</dict>
</plist>
